@import '../../css/variables';

.intro {
  position: relative;
  margin-bottom: 48px;
  box-shadow:
    0 4px 8px 0 rgba($black, .1),
    inset 0 4px 8px 0 rgba($white, .1);
  @include bp($bp-large) {
    max-height: 350px;
    margin-bottom: 64px;
    overflow: hidden;
  }
}

.hi {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -150%);
  font-weight: 600;
}

.postCards {
  display: grid;
  row-gap: 32px;
  column-gap: 32px;

  @include bp($bp-small) {
    grid-template-columns: repeat(2, 1fr);
  }

  @include bp($bp-large) {
    padding: 0 64px;
    row-gap: 64px;
    column-gap: 64px;
  }
}