@import '../../css/variables';

$base-layout-padding: 16px;

.content {
  display: flex;
}

.link {
  display: block;
  width: 100%;
  color: $black;
}

.subject {
  padding: $base-layout-padding;
  margin-bottom: 12px;
  background: $black;
  color: $white;
  font-weight: 600;
  transition: opacity $timing $easing;

  .content:hover & {
    opacity: .8;
  }
}

.title {
  padding: 8px $base-layout-padding;
  line-height: 1.2;
}

.date {
  padding: 0 $base-layout-padding;
  color: $light_grey;
}
