@import '../../css/variables';

$base-layout-padding: 16px;

.content {
  border-bottom: 5px solid $black;
  background: $white;
}

.subject {
  padding: $base-layout-padding;
  background: $black;
  color: $white;
  font-weight: 600;
}

.title {
  padding: $base-layout-padding;
  line-height: 1.2;
}

.date {
  padding: 0 $base-layout-padding $base-layout-padding;
}
