// Breakpoints
$bp-small: 500px;
$bp-med: 650px;
$bp-large: 1000px;


// Colors
$blue_grey: #344e5c;
$teal: #4ab19d;
$yellow: #efc958;
$orange: #e17a47;
$red: #ef3d59;

$light_grey: #ccc;
$black: #222;
$white: #fefefe;


// MISC
$easing: ease-in-out;
$timing: 200ms;

// Global mixins
@mixin bp($bp-name) {
  @media (min-width: $bp-name) {
    @content;
  }
}

// Export to JS
:export {
  blue_grey: $blue_grey;
  teal: $teal;
  yellow: $yellow;
  orange: $orange;
  red: $red;
  light_grey: $light_grey;
  black: $black;
  white: $white;

  bp-small: $bp-small;
  bp-med: $bp-med;

  easing: $easing;
}